@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All data here has been gathered by Zachary Padovano and is subject to potential misinformation according to some.
    You have been warned.
</p>
